@import url(https://fonts.googleapis.com/css?family=Raleway|Cabin+Condensed);
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.navbar {
  background-color: #45464F;
  padding-top: 0.4em;
}

body {
  margin: 3em;
  padding-top: 3em;
}

.about-contact {
  background-color: #DEDEDE;
  padding: 3em;
  margin-top: 2em;
  border: 0.1em solid #45464F;
}

#projects {
  background-color: #C9C9C9;
  padding: 2em;
  margin-top: 2em;
}

.project-odd {
  background-color: white;
  padding: 2em;
  margin-top: 1em;
  &:hover {
    background-color: #d6ebf2;
  }
}

.project-even {
  background-color: #F0F0F0;
  padding: 2em;
  margin-top: 1em;
  &:hover {
    background-color: #d6ebf2;
  }
}

h1, h2, h3 {
  line-height: 1.6em;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
  color: #45464F;
  a {
    font-size: 2em;
    color: #45464F;
    &:hover {
      text-decoration: none;
      color: #45464F;
    }
  }
}

h2 {
  font-size: 1.75em;
  color: #701112;
}

p {
  line-height: 1.6em;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.25em;
  color: #999999;
  a {
    font-size: 1.25em;
    color: #003366;
    &:hover {
      text-decoration: none;
      font-size: 1.75em;
    }
  }
}

ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1em;
      font-size: 1.2em;
      color: #FFFFFF;
      a {
        color: #FFFFFF;
        &:hover {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 1.75em;
      }
    }
  }
}
