@import url(https://fonts.googleapis.com/css?family=Raleway|Cabin+Condensed);
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Colors
$portfolio-green: #A0C2BB;
$portfolio-blue: #9BAAB9;
$portfolio-gray: #BCBDC1;
$portfolio-orange: #FFA58B;
$portfolio-white: #FFFFFF;

//Navigation Bar
.navbar {
  background-color: $portfolio-green;
  padding-top: 0.4em;
}

ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1em;
      font-size: 1.5em;
      color: $portfolio-white;
      a {
        color: $portfolio-white;
        &:hover {
          color: $portfolio-white;
          text-decoration: none;
          font-size: 1.75em;
      }
    }
  }
}

//Page Structure
body {
  margin: 3em;
  padding-top: 3em;
  @include clearfix;
}

.about-contact {
  background-color: $portfolio-blue;
  padding: 3em;
  margin-top: 2em;
}

#projects {
  background-color: lighten( $portfolio-blue, 20% );
  padding: 2em;
  margin-top: 2em;
}

.project-odd {
  background-color: lighten( $portfolio-gray, 20% );
  padding: 2em;
  margin-top: 1em;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $portfolio-gray;
    transform: scale(1.1);
  }
}

.project-even {
  background-color: lighten( $portfolio-gray, 15% );
  padding: 2em;
  margin-top: 1em;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: #BCBDC1;
    transform: scale(1.1);
  }
}

//Image
img {
  margin: 1em 1em 1em 0;
  border: 0.1em solid $portfolio-gray;
  border-radius: 50%;
  float: left;
  height: 15em;
  width: 15em;
}

//Typography
h1, h2 {
  line-height: 1.6em;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
  color: $portfolio-orange;
  a {
    font-size: 2em;
    color: $portfolio-orange;
    &:hover {
      text-decoration: none;
      color: $portfolio-orange;
    }
  }
}

h2 {
  font-size: 1.75em;
  color: darken( $portfolio-orange, 10% )
}

p {
  line-height: 1.6em;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.25em;
  color: darken( $portfolio-gray, 40% );
  a {
    font-size: 1.25em;
    color: darken( $portfolio-blue, 40% );
    &:hover {
      text-decoration: none;
      font-size: 1.75em;
      color: darken( $portfolio-blue, 60% );
    }
  }
}
